@font-face {
    font-family: 'Death-note';
    /* Replace with your desired font name */
    src: url('../assets/Fonts/Death-Note.ttf');
    /* URL to your font file */
}

@font-face {
    font-family: 'Death-font';
    /* Replace with your desired font name */
    src: url('../assets/Fonts/death-font.ttf');
    /* URL to your font file */
}

@font-face {
    font-family: 'cloisterblack';
    /* Replace with your desired font name */
    src: url('../assets/Fonts/CloisterBlack.ttf');
    /* URL to your font file */
}



/* About Me Section */
#about-me {
    padding: 60px 20px;
    text-align: center;
    background-color: #111111; /* Dark background to match the overall theme */
    margin-top: 150px;
}

#about-me h1 {
    font-size: 2.5rem;
    color: #f39c12; /* Accent color for headings */
    margin-bottom: 20px;
    font-family: cloisterblack;
}

#about-me p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #dddddd; /* Softer white for better readability */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: Death-note;
}

#about-me img {
    border-radius: 50%;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border: 3px solid #f39c12; /* Border matching the accent color */
    transition: transform 0.3s;
}

#about-me img:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}


