    /* Projects Section */
    #projects {
        padding: 60px 20px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        width: 100%;
        max-width: 1200px;
        box-sizing: border-box;
    }

    .project-card {
        background-color: #111111; /* Dark background for the cards */
        border-radius: 10px; /* Rounded corners */
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .project-card:hover {
        transform: translateY(-5px); /* Slight lift effect on hover */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Increased shadow on hover */
    }

    .project-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .project-card h2 {
        padding: 20px;
        font-size: 1.5rem;
        color: #f39c12; /* Accent color for the title */
        margin: 0;
    }

    .project-card p {
        padding: 0 20px 20px 20px;
        font-size: 1rem;
        color: #dddddd; /* Softer white for the description */
    }