/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Death-note';
    /* Replace with your desired font name */
    src: url('../assets/Fonts/Death-Note.ttf');
    /* URL to your font file */
}

@font-face {
    font-family: 'Death-font';
    /* Replace with your desired font name */
    src: url('../assets/Fonts/death-font.ttf');
    /* URL to your font file */
}

@font-face {
    font-family: 'cloisterblack';
    /* Replace with your desired font name */
    src: url('../assets/Fonts/CloisterBlack.ttf');
    /* URL to your font file */
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.brand-title {
    font-family: Death-font;
    font-size: 1.6em;
    font-weight: bold;
    color: #FFFFFF;
    /* White text color */
    padding: 5px 10px;
    letter-spacing: 2px;
    display: inline-block;
}

.navbar-links ul {
    list-style: none;
    display: flex;
}

.navbar-links li {
    padding: 0 15px;
}

.navbar-links a {
    font-family: Death-font;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: bold;
    color: #FFFFFF;
    padding: 5px 10px;
    letter-spacing: 2px;
    display: inline-block;
    transition: color 0.3s ease;
}

.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar {
    width: 25px;
    height: 3px;
    background-color: #ecf0f1;
    margin: 4px 0;
}

.typewritter {
    font-family: Death-note;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

/* Media query for responsive layout */
@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
        padding: 15px 0;
        width: 100%;
    }

    .navbar-links.active {
        display: flex;
    }

    .typewriter {
        font-size: 20px;
    }
}


.background {
    background-image: url('../assets/images/bg.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}


.container {
    position: relative;
    width: 100%;
    height: 80%;
    text-align: center;
}


.social-media-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-media-links a {
    text-decoration: none;
    color: #333;
}

.social-media-links img {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.social-media-links img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project-background {
    background-image: url('../assets/images/project.jpeg');
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}


:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
  }
  * {
    box-sizing: border-box;
  }

  .card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
  }
  
  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }
  
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  
  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }
  
  .card:hover .wrapper::after {
    height: 120px;
  }
  .title {
    width: 100%;
    transition: transform 0.5s;
  }
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }
  
  .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }
  